{% extends 'base.html' %}

{% load i18n %}
{% load staticfiles %}

{% block javascript %}
    <!--*必填-->
    <script src="{% static 'js/jquery.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/jquery.validate.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
        $(function(){
            $("#commentForm").validate();
        });
    </script>
{% endblock %}

{% block header %}
<nav class="nav-bottom">
    <div class="navTop">
        <a href="index.html"><div id="logo"></div></a>
        <div class="right content-nav">
            <ul>
                <li><a class="iconLeague navBtn" href="#">聯盟</a>
                    <ul style="display:none;" class="sub-menu scroll flexcroll-gray">
                        <li><a href="#">名人榜</a></li>
                        <li><a href="#">最新消息</a></li>
                        <li><a href="#">盃賽資訊</a></li>
                        <li><a href="#">賽程一覽</a></li>
                        <li><a href="#">戰績排行</a></li>
                    </ul>
                </li>
                <li><a class="iconTeam navBtn" href="{% url 'myteams' %}">球隊</a>
                    <ul class="sub-menu scroll flexcroll-gray" style="display: none">
                        <li><a class="selected" href="#">Summary</a></li>
                        <li><a href="#">賽程</a></li>
                        <li><a href="#">陣容</a></li>
                        <li><a href="#">{% trans 'STATS' %}</a></li>
                        <li><a href="#">分析</a></li>
                    </ul>
                </li>
                <li class="hover-btn"><a id="account_btn" class="iconAccount navBtn" href="#">帳號</a>
                    <ul id="account_menu" class="hover-menu">
                        <li><a href="/accounts/my/">設定</a></li>
                        <li><a href="/accounts/logout/">登出</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="content">
    <div class="row page-content">
        <div class="col s12 m12 l1"></div>
        <div class="col s12 m12 l10 content-block">
            <h3 class="subinfo">{% trans 'MY_TEAM' %}<span>{% trans 'EDIT' %}</span></h3>
            <div class="form">
                <form id="commentForm" class="commentForm" name="edit_team" action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="blockBg input-group-block">
                        <div>
                            <label>隊名<span class="redmark">*必填</span></label>
                            <input class="required" type="text" id="name" name="name" value="{{ team.name }}">
                            <label>{% trans 'COACH' %}</label>
                            <input type="text" name="coach" value="{{ team.coach }}">
                            <label>{% trans 'CAPTAIN' %}</label>
                            <input type="text" name="captain" value="{{ team.captain }}">
                        </div>
                        <div>
                            <label>{% trans 'CODE' %}</label>
                            <input type="text" name="code" value="{{ team.code }}">
                            <label>{% trans 'IMAGE' %}</label>
                            <input id="uploadFile" placeholder="未選擇任何檔案" disabled="disabled" />
                            <div class="fileUpload btn-brown btn">
                                <span>選擇檔案</span>
                                <input name="figure" id="uploadBtn" type="file" class="upload" />
                            </div>
                        </div>
                    </div><!--end of input-group -->
                    <div class="btn-group">
                        <button class="btn" type="button" onclick="location.href='{% url 'myteams' %}'">{% trans 'CANCEL' %}</button>
                        <button class="btn" type="submit" onclick="form_check()">{% trans 'SAVE' %}</button>
                    </div>
                </form>
            </div><!-- end of form-->
        </div><!-- end of halfBlock-->
    </div><!--end of page-content-->
</div><!--end of content-->

<script type="text/javascript">
    $(document).ready(function () {

        //input file
        document.getElementById("uploadBtn").onchange = function () {
            document.getElementById("uploadFile").value = this.value;
        };

    });
</script>
{% endblock %}
