<!DOCTYPE html>
{% load i18n %}
{% load staticfiles %}
<html>
    <head>
        <meta charset='UTF-8'>
        <title>Improvement Goes With Data - DataHoops</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway">
        <link href='https://fonts.googleapis.com/css?family=Orbitron:900' rel='stylesheet' type='text/css'>

        <!-- JavaScript -->
        <script type="text/javascript">
            function ConfirmDeletion(team_id)
            {
                var result = confirm("Are you sure?");
                if (result)
                {
                    window.location = "/teams/myteams/"+team_id+"/delete/";
                }
                else { return false; }
            }
        </script>
    </head>
    <body>
        <div id="Header">
            <div id="HeaderLeft">DataHoops</div>
            <div id="HeaderRight">
                <a href="{% url 'myteams' %}" style="text-decoration: underline">{% trans "MY_TEAM" %}</a> |
                <a href="/accounts/my/" style="text-decoration: underline">{% trans "MY_ACCOUNT" %}</a> |
                <a href="/accounts/logout/" style="text-decoration: underline">{% trans "SIGN_OUT" %}</a>
            </div>
        </div>
        <div style="height: auto; min-height: 90vh; font-family: 'Raleway', sans-serif">
            <div style="height: 15vh; line-height: 15vh; text-align: center; font-size: 1.5rem">{% trans "MY_TEAM" %}</div>
            <div style="text-align: center">

                <!-- 2016.05.25 Message framework. -->
                {% if messages %}
                    {% for message in messages %}
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                        <p style="color: green">{{ message }}</p>
                        {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                        <p style="color: red">{{ message }}</p>
                        {% endif %}
                    {% endfor %}
                {% endif %}

                {% if teams %}
                    {% for team in teams %}
                        <div class="MyTeam" style="float: left">
                            <div class="MyTeamCircle" onclick="location.href='{% url 'team_summary' team.id %}'">
                                {% if team.figure %}
                                    <div style="background-image: url({{ team.figure.url }}); background-size:cover; background-position:center center; height: 100%; border-radius:50%;"></div>
                                {% else %}
                                    <div style="background-image: url({% static "images/images.jpeg" %}); background-size:cover; background-position:center center; height: 100%; border-radius:50%;"></div>
                                {% endif %}
                            </div>
                            <div>
                                <a href="{% url 'team_summary' team.id %}">{{ team }}</a>
                                {% for admin in team.administrators.all %}
                                    {% if request.user == admin %}
                                        <a href="{% url 'edit_team' team.id %}">{% trans "EDIT" %}</a>
                                        <a href="javascript: return false;" onclick="return ConfirmDeletion({{ team.id }})">{% trans "DELETE" %}</a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="MyTeam" {% if teams %}style="float: left"{% endif %}>
                    <div class="MyTeamCircle" onclick="location.href='{% url 'create_team' %}'">
                        <div style="background-image: url({% static "images/add-icon" %}); background-size:cover; background-position:center center; height: 100%; border-radius:50%;"></div>
                    </div>
                    <div><a href="{% url 'create_team' %}">{% trans "CREATE_TEAM" %}</a></div>
                </div>
            </div>
        </div>
    </body>
</html>
