{% extends 'base.html' %}

{% load i18n %}
{% load staticfiles %}

{% block javascript %}
<!--table sorter-->
<script type="text/javascript" src="{% static 'js/jquery.tablesorter.js' %}"></script>

<!--table sorter-->
<script type="text/javascript">
    $(function () {
        // table sorter
        $("#myTable").tablesorter({widgets: ['zebra']});
    });
</script>
<script type="text/javascript">
    function ConfirmDeletion(team_id, player_id)
    {
        var result = confirm("Are you sure?");
        if (result)
        {
            window.location = "/teams/myteams/"+team_id+"/players/"+player_id+"/delete/";
        }
        else { return false; }
    }
</script>
{% endblock %}

{% block header %}
    {% include 'new_navigation.html' %}
{% endblock %}

{% block content %}
<div class="content">
    {% include 'teams/team_info.html' %}

    <!-- 2016.05.24 Message framework. -->
    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <p class="MSG-info">{{ message }}</p>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <p class="MSG-info">{{ message }}</p>
            {% endif %}
        {% endfor %}
    {% endif %}

    <div class="row page-content">
        <div class="col s12 m12 l1"></div>
        <div class="col s12 m12 l10 content-block">
            <h3>{% trans 'ROSTER' %}</h3>
            <div class="contentBtn">
                {% if is_admin %}
                <a class="iconBtn icon-add" href="{% url 'create_player' team.id %}"></a>
                {% endif %}
            </div>
            {% if not players %}
            <div class="blockBg blank blockBottom" style="display:block;">
                <img src="{% static 'images/Arrow-PNG.png' %}">
                <h1>新增成員</h1>
            </div>
            {% else %}
            <div class="blockBg table">
                <table id="myTable" class="scroll-left tablesorter">
                    <thead>
                        <tr>
                            <th class="th-memberPic">&nbsp;</th>
                            <th>{% trans 'NAME' %}</th>
                            <th>{% trans 'POSITION' %}</th>
                            <th class="header2">{% trans 'HEIGHT' %}</th>
                            <th class="header2">{% trans 'WEIGHT' %}</th>
                            <th class="header2">{% trans 'NUMBER' %}</th>
                            <th class="header2">{% trans 'BIRTHDAY' %}</th>
                            <th>{% trans 'ACTIONS' %}</th>
                        </tr>
                    </thead>
                    <tbody class="flexcroll-gray">
                        {% for player in players %}
                        <tr>
                            <td data-title="日期">
                                <a href="{% url 'player_summary' team.id player.id %}"><div class="memberPic">
                                    {% if player.figure %}
                                    <img src="{{ player.figure.url }}" alt="member">
                                    {% else %}
                                    <img src="{% static 'images/pic_member.jpg' %}" alt="member">
                                    {% endif %}
                                </div></a>
                            </td>
                            <td data-title="姓名"><a href="{% url 'player_summary' team.id player.id %}">{{ player.name }}</a></td>
                            <td data-title="位置">
                                {% if player.position == 1 %}
                                {% trans 'GUARD' %}
                                {% elif player.position == 2 %}
                                {% trans 'FORWARD' %}
                                {% else %}
                                {% trans 'CENTER' %}
                                {% endif %}
                            </td>
                            <td data-title="身高">{{ player.height }}</td>
                            <td data-title="體重">{{ player.weight }}</td>
                            <td data-title="背號">{{ player.number }}</td>
                            <td data-title="生日">{{ player.birthday|date:'Y/m/d' }}</td>
                            <td class="edit" data-title="動作">
                                {% if is_admin or player.user == request.user %}
                                <a href="{% url 'edit_player' team.id player.id %}"><img src="{% static 'images/icon_edit.png' %}"></a>
                                {% endif %}
                                {% if is_admin %}
                                <a href="javascript: return false;" onclick="return ConfirmDeletion({{ team.id }}, {{ player.id }})"><img src="{% static 'images/icon_delete.png' %}"></a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div><!--end of table-->
        {% endif %}
        </div><!-- end of halfBlock-->
    </div><!--end of page-content-->
</div><!--end of content-->
{% endblock %}

{% block donut %}
    {% include 'donut.html' %}
{% endblock %}
