{% extends 'base.html' %}

{% load i18n %}
{% load staticfiles %}

{% block javascript %}

function ConfirmDeletion(team_id, player_id)
{
    var result = confirm("Are you sure?");
    if (result)
    {
        window.location = "/teams/myteams/"+team_id+"/players/"+player_id+"/delete/";
    }
    else { return false; }
}

{% endblock %}

{% block navigation %}
    {% include 'navigation.html' %}
{% endblock %}

{% block content %}
    {% include 'teams/team_info.html' %}

    <!-- 2016.05.24 Message framework. -->
    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <p style="color: green">{{ message }}</p>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <p style="color: red">{{ message }}</p>
            {% endif %}
        {% endfor %}
    {% endif %}

    <div id="BodyHeadline" style="float: left; width: 80.5vw">{% trans "ROSTER" %}</div>
    <div style="float: left; width: 3vw">
        {% if is_admin %}
            <a href="{% url 'create_player' team.id %}">
                <img src="{% static "images/add-icon" %}" width="25px"/>
            </a>
        {% endif %}
    </div>
    <div style="clear: both">
        {% if players %}
        <table width="100%">
            <tr>
                <th></th>
                <th>{% trans "NAME" %}</th>
                <th>{% trans "POSITION" %}</th>
                <th>{% trans "HEIGHT" %}</th>
                <th>{% trans "WEIGHT" %}</th>
                <th>{% trans "NUMBER" %}</th>
                <th>{% trans "BIRTHDAY" %}</th>
                <th>{% trans "ACTIONS" %}</th>
            </tr>
            {% for player in players %}
                <tr>
                    {% if player.figure %}
                        <td>
                            <img src="{{ player.figure.url }}" height="30px" width="30px"/>
                        </td>
                    {% else %}
                        <td>
                            <img src="{% static "images/default-player" %}" height="30px" width="30px"/>
                        </td>
                    {% endif %}
                    <td>
                        <a href="{% url 'player_summary' team.id player.id %}">{{ player.name }}</a>
                    </td>
                    {% if player.position == 1 %}
                        <td>{% trans "GUARD" %}</td>
                    {% elif player.position == 2 %}
                        <td>{% trans "FORWARD" %}</td>
                    {% else %}
                        <td>{% trans "CENTER" %}</td>
                    {% endif %}
                    <td>{{ player.height }}</td>
                    <td>{{ player.weight }}</td>
                    <td>{{ player.number }}</td>
                    <td>{{ player.birthday|date:"Y-m-d" }}</td>
                    <td>
                        {% if is_admin or player.user == request.user %}
                            <a href="{% url 'edit_player' team.id player.id %}">{% trans "EDIT" %}</a>
                        {% endif %}
                        {% if is_admin %}
                            <a href="javascript: return false;" onclick="return ConfirmDeletion({{ team.id }}, {{ player.id }})">{% trans "DELETE" %}</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% else %}
            <p>{% trans "NO_PLAYER" %}</p>
        {% endif %}
    </div>
{% endblock %}
