{% extends 'base.html' %}

{% load i18n %}

{% block javascript %}

function HideTotShowAvg() {
    document.getElementById('avg').style.display = "block";
    document.getElementById('tot').style.display = "none";
}

function HideAvgShowTot() {
    document.getElementById('avg').style.display = "none";
    document.getElementById('tot').style.display = "block";
}

{% endblock %}

{% block navigation %}
    {% include 'navigation.html' %}
{% endblock %}

{% block content %}
    {% include 'teams/team_info.html' %}
    <div id="BodyHeadline" style="float: left">{% trans "STATS" %}</div>
    <button type="button" id="btnTot" onclick="HideAvgShowTot()" style="float: right">{% trans "TOTAL" %}</button>
    <button type="button" id="btnAvg" onclick="HideTotShowAvg()" style="float: right; margin-right: 0.5vw;">{% trans "AVERAGE" %}</button>
    {% if stats %}
    <div id="avg" style="display: block">
        <table width="100%">
            <tr>
                <th>{% trans "PTS" %}</th>
                <th>{% trans "FG" %}</th>
                <th>{% trans "3PTS" %}</th>
                <th>{% trans "FT" %}</th>
                <th>{% trans "REB" %}</th>
            </tr>
            <tr>
                <td rowspan="4" style="font-size: 24px">{{ PPG | floatformat:1 }}</td> <!-- # 2016.04.13 Normalize variable. -->
                <td>{% trans "ATTEMPT" %}</td>
                <td>{% trans "ATTEMPT" %}</td>
                <td>{% trans "ATTEMPT" %}</td>
                <td>{% trans "OREB" %}</td>
            </tr>
            <tr>
                <td style="font-size: 24px">{{ FGA_avg|floatformat:1 }}</td>
                <td style="font-size: 24px">{{ threePTSA_avg|floatformat:1  }}</td>
                <td style="font-size: 24px">{{ FTA_avg|floatformat:1  }}</td>
                <td style="font-size: 24px">{{ oreb_avg | floatformat:1 }}</td>
            </tr>
            <tr>
                <td>{% trans "FG%" %}</td>
                <td>{% trans "3PTS%" %}</td>
                <td>{% trans "FT%" %}</td>
                <td>{% trans "DREB" %}</td>
            </tr>
            <tr>
                <td style="font-size: 24px">{{ FG | floatformat:1 }}%</td> <!-- # 2016.04.13 Normalize variable. -->
                <td style="font-size: 24px">{{ three_points_percentage | floatformat:1 }}%</td>
                <td style="font-size: 24px">{{ free_throw_percentage | floatformat:1 }}%</td>
                <td style="font-size: 24px">{{ dreb_avg | floatformat:1 }}</td>
            </tr>
            <tr>
                <th>{% trans "AST" %}</th>
                <th>{% trans "STL" %}</th>
                <th>{% trans "BLK" %}</th>
                <th>{% trans "TO" %}</th>
                <th>{% trans "PF" %}</th>
            </tr>
            <tr>
                <td style="font-size: 24px">{{ AST | floatformat:1 }}</td> <!-- # 2016.04.13 Normalize variable. -->
                <td style="font-size: 24px">{{ stl_avg | floatformat:1 }}</td>
                <td style="font-size: 24px">{{ blk_avg | floatformat:1 }}</td>
                <td style="font-size: 24px">{{ to_avg | floatformat:1 }}</td>
                <td style="font-size: 24px">{{ pf_avg | floatformat:1 }}</td>
            </tr>
        </table>
    </div>
    <div id="tot" style="display: none">
        <table width="100%">
            <tr>
                <th>{% trans "PTS" %}</th>
                <th>{% trans "FG" %}</th>
                <th>{% trans "3PTS" %}</th>
                <th>{% trans "FT" %}</th>
                <th>{% trans "REB" %}</th>
            <tr>
                <td rowspan="4" style="font-size: 24px">{{ stats.PTS }}</td> <!-- # 2016.04.13 Normalize variable. -->
                <td>{% trans "ATTEMPT" %}</td>
                <td>{% trans "ATTEMPT" %}</td>
                <td>{% trans "ATTEMPT" %}</td>
                <td>{% trans "OREB" %}</td>
            <tr>
                <td style="font-size: 24px">{{ stats.two_points_attempt|add:stats.three_points_attempt }}</td>
                <td style="font-size: 24px">{{ stats.three_points_attempt }}</td>
                <td style="font-size: 24px">{{ stats.FTA }}</td>
                <td style="font-size: 24px">{{ stats.OREB }}</td>
            </tr>
            <tr>
                <td>{% trans "MADE" %}</td>
                <td>{% trans "MADE" %}</td>
                <td>{% trans "MADE" %}</td>
                <td>{% trans "DREB" %}</td>
            </tr>
            <tr>
                <td style="font-size: 24px">{{ stats.two_points_made|add:stats.three_points_made }}</td> <!-- # 2016.04.13 Normalize variable. -->
                <td style="font-size: 24px">{{ stats.three_points_made }}</td>
                <td style="font-size: 24px">{{ stats.FTM }}</td>
                <td style="font-size: 24px">{{ stats.DREB }}</td>
            </tr>
            <tr>
                <th>{% trans "AST" %}</th>
                <th>{% trans "STL" %}</th>
                <th>{% trans "BLK" %}</th>
                <th>{% trans "TO" %}</th>
                <th>{% trans "PF" %}</th>
            </tr>
            <tr>
                <td style="font-size: 24px">{{ stats.AST }}</td> <!-- # 2016.04.13 Normalize variable. -->
                <td style="font-size: 24px">{{ stats.STL }}</td>
                <td style="font-size: 24px">{{ stats.BLK }}</td>
                <td style="font-size: 24px">{{ stats.TO }}</td>
                <td style="font-size: 24px">{{ stats.PF }}</td>
            </tr>
        </table>
    </div>
    {% else %}
        <p>{% trans "NO_STATS" %}</p>
    {% endif %}
{% endblock %}
