{% extends 'base.html' %}

{% load i18n %}

{% block javascript %}
<script type="text/javascript">
    function HideTotShowAvg() {
        document.getElementById('avg').style.display = "block";
        document.getElementById('tot').style.display = "none";
    }

    function HideAvgShowTot() {
        document.getElementById('avg').style.display = "none";
        document.getElementById('tot').style.display = "block";
    }
</script>
{% endblock %}

{% block content %}
    {% include 'teams/team_info.html' %}
    {% if stats %}
    <div class="row page-content">
        <div class="col s12 m12 l1"></div>
        <div class="col s12 m12 l10 content-block">
            <h3>{% trans 'STATS' %}</h3>
            <div class="subNav-Btn contentBtn">
                <button class="btn btn-brown" type="button" id="btnAvg" onclick="HideTotShowAvg()" >{% trans 'AVERAGE' %}</button>
                <button class="btn btn-brown" type="button" id="btnTot" onclick="HideAvgShowTot()" >{% trans 'TOTAL' %}</button>
            </div>

            <div id="avg" class="blockBg table scroll-left-horizontal-400 flexcroll-gray" style="display:block;">
                <table>
                    <thead>
                        <tr>
                            <th>{% trans 'PTS' %}</th>
                            <th>{% trans 'FG' %}</th>
                            <th>{% trans '3PTS' %}</th>
                            <th>{% trans 'FT' %}</th>
                            <th>{% trans 'REB' %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td rowspan="4">{{ PPG|floatformat:1 }}</td>
                            <td class="td-subtitle">{% trans 'ATTEMPT' %}</td>
                            <td class="td-subtitle">{% trans 'ATTEMPT' %}</td>
                            <td class="td-subtitle">{% trans 'ATTEMPT' %}</td>
                            <td class="td-subtitle">{% trans 'OREB' %}</td>
                        </tr>
                        <tr>
                            <td>{{ FGA_avg|floatformat:1 }}</td>
                            <td>{{ threePTSA_avg|floatformat:1 }}</td>
                            <td>{{ FTA_avg|floatformat:1 }}</td>
                            <td>{{ oreb_avg|floatformat:1 }}</td>
                        </tr>
                        <tr>
                            <td class="td-subtitle">{% trans 'FG%' %}</td>
                            <td class="td-subtitle">{% trans '3PTS%' %}</td>
                            <td class="td-subtitle">{% trans 'FT%' %}</td>
                            <td class="td-subtitle">{% trans 'DREB' %}</td>
                        </tr>
                        <tr>
                            <td>{{ FG|floatformat:1 }}%</td>
                            <td>{{ three_points_percentage|floatformat:1 }}%</td>
                            <td>{{ free_throw_percentage|floatformat:1 }}%</td>
                            <td>{{ dreb_avg|floatformat:1 }}</td>
                        </tr>
                    </tbody>
                    <thead class="bordertop">
                        <tr>
                            <th>{% trans 'AST' %}</th>
                            <th>{% trans 'STL' %}</th>
                            <th>{% trans 'BLK' %}</th>
                            <th>{% trans 'TO' %}</th>
                            <th>{% trans 'PF' %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ AST|floatformat:1 }}</td>
                            <td>{{ stl_avg|floatformat:1 }}</td>
                            <td>{{ blk_avg|floatformat:1 }}</td>
                            <td>{{ to_avg|floatformat:1 }}</td>
                            <td>{{ pf_avg|floatformat:1 }}</td>
                        </tr>
                    </tbody>
                </table>
            </div><!--end of table-->

            <div id="tot" class="blockBg table scroll-left-horizontal-400 flexcroll-gray" style="display:none;">
                <table>
                    <thead>
                        <tr>
                            <th>{% trans 'PTS' %}</th>
                            <th>{% trans 'FG' %}</th>
                            <th>{% trans '3PTS' %}</th>
                            <th>{% trans 'FT' %}</th>
                            <th>{% trans 'REB' %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td rowspan="4">{{ stats.PTS }}</td>
                            <td class="td-subtitle">{% trans 'ATTEMPT' %}</td>
                            <td class="td-subtitle">{% trans 'ATTEMPT' %}</td>
                            <td class="td-subtitle">{% trans 'ATTEMPT' %}</td>
                            <td class="td-subtitle">{% trans 'OREB' %}</td>
                        </tr>
                        <tr>
                            <td>{{ stats.two_points_attempt|add:stats.three_points_attempt }}</td>
                            <td>{{ stats.three_points_attempt }}</td>
                            <td>{{ stats.FTA }}</td>
                            <td>{{ stats.OREB }}</td>
                        </tr>
                        <tr>
                            <td class="td-subtitle">{% trans 'MADE' %}</td>
                            <td class="td-subtitle">{% trans 'MADE' %}</td>
                            <td class="td-subtitle">{% trans 'MADE' %}</td>
                            <td class="td-subtitle">{% trans 'DREB' %}</td>
                        </tr>
                        <tr>
                            <td>{{ stats.two_points_made|add:stats.three_points_made }}</td>
                            <td>{{ stats.three_points_made }}</td>
                            <td>{{ stats.FTM }}</td>
                            <td>{{ stats.DREB }}</td>
                        </tr>
                    </tbody>
                    <thead class="bordertop">
                        <tr>
                            <th>{% trans 'AST' %}</th>
                            <th>{% trans 'STL' %}</th>
                            <th>{% trans 'BLK' %}</th>
                            <th>{% trans 'TO' %}</th>
                            <th>{% trans 'PF' %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ stats.AST }}</td>
                            <td>{{ stats.STL }}</td>
                            <td>{{ stats.BLK }}</td>
                            <td>{{ stats.TO }}</td>
                            <td>{{ stats.PF }}</td>
                        </tr>
                    </tbody>
                </table>
            </div><!--end of table-->
        </div><!-- end of content-block-->
    </div><!--end of page-content-->
    {% else %}
        <p>{% trans "NO_STATS" %}</p>
    {% endif %}
{% endblock %}
