{% extends 'base.html' %}

{% load i18n %}
{% load staticfiles %}

{% block header %}
    {% include 'new_navigation.html' %}
{% endblock %}

{% block content %}
<div class="content">
    {% include 'teams/team_info.html' %}
    <div class="row page-content">
        <div class="col s12 m12 l6 content-block">
            <a href="{% url 'mygames' team.id %}"><h3 class="subinfo">{% trans 'SCHEDULE' %}<span class="redarrow">VIEW ALL</span></h3></a>
            {% if is_admin %}
            <div class="contentBtn">
                <a class="iconBtn icon-add" href="{% url 'create_game' team.id %}"></a>
            </div>
            {% endif %}
            {% if not upcoming_game and not games %}
            <div class="blockBg blank blockBottom" style="display:block;">
                <img src="{% static 'images/Arrow-PNG.png' %}">
                <h1>新增賽程</h1>
            </div>
            {% else %}
            <div class="blockBg table">
                <table class="scroll-left">
                    <thead>
                        <tr>
                            <th>{% trans 'DATE' %}</th>
                            <th>{% trans 'TIME' %}</th>
                            <th>{% trans 'OPPONENT' %}</th>
                            <th>{% trans 'RESULT' %}</th>
                            <th>{% trans 'SCORE' %}</th>
                        </tr>
                    </thead>
                    <tbody class="flexcroll-gray">
                        {% if upcoming_game %}
                        <tr>
                            <td data-title="日期">{{ upcoming_game.0.time|date:"Y/m/d" }}</td>
                            <td data-title="時間">{{ upcoming_game.0.time|time:"H:i" }}</td>
                            <td data-title="對手">{{ upcoming_game.0.opponent }}</td>
                            <td data-title="結果">&nbsp;</td>
                            <td data-title="分數">&nbsp;</td>
                        </tr>
                        {% endif %}
                        {% if games %}
                            {% for past_5_game in past_5_games %}
                            <tr class="schedule-done">
                                <td data-title="日期">{{ past_5_game.game.time|date:"Y/m/d" }}</td>
                                <td data-title="時間">{{ past_5_game.game.time|time:"H:i" }}</td>
                                <td data-title="對手">{{ past_5_game.game.opponent }}</td>
                                {% if past_5_game.game.isComplete %}
                                    {% if past_5_game.team_state.isWin %}
                                    <td data-title="結果">{% trans "SHORT_WIN" %}</td>
                                    {% elif past_5_game.team_state.isWin == False %}
                                    <td data-title="結果">{% trans "SHORT_LOSE" %}</td>
                                    {% else %}
                                    <td data-title="結果">&nbsp;</td>
                                    {% endif %}
                                    <td data-title="分數">{{ past_5_game.team_state.PTS }} - {{ past_5_game.opponent_state.score }}</td>
                                {% else %}
                                    <td data-title="結果">&nbsp;</td>
                                    <td data-title="分數">&nbsp;</td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div><!--end of table-->
            {% endif %}
        </div><!-- end of halfBlock-->

        <div class="col s12 m12 l6 content-block">
            <a href="{% url 'player_index' team.id %}"><h3 class="subinfo">{% trans 'ROSTER' %}<span class="redarrow">VIEW ALL</span></h3></a>
            {% if is_admin %}
            <div class="contentBtn">
                <a class="iconBtn icon-add" href="{% url 'create_player' team.id %}"></a>
            </div>
            {% endif %}
            {% if not players %}
            <div class="blockBg blank blockBottom" style="display:block;">
                <img src="{% static 'images/Arrow-PNG.png' %}">
                <h1>新增成員</h1>
            </div>
            {% else %}
            <div class="blockBg member">
                {% for player in players %}
                <div>
                    {% if player.figure %}
                    <div class="memberPic">
                        <img src="{{ player.figure.url }}" alt="member">
                    </div>
                    {% else %}
                    <div class="memberPic">
                        <img src="{% static 'images/pic_member.jpg' %}" alt="member">
                        <span>{{ player.number }}</span>
                    </div>
                    {% endif %}
                    <p>{{ player.name }}</p>
                </div>
                {% endfor %}
            </div><!-- end of member-->
            {% endif %}
        </div><!-- end of halfBlock-->
    </div><!--end of page-content-->
</div><!--end of content-->
{% endblock %}

{% block donut %}
    {% include 'donut.html' %}
{% endblock %}
