{% load i18n %}
{% load staticfiles %}
<!--public version-->
<div class="row main-Info team-mainInfo">
    <div class="col s12 m12 l6 main-title">
        {% if team.figure %}
        <img src="{{ team.figure.url }}" alt="teamLogo">
        {% else %}
        <img src="{% static 'images/pic_team.png' %}" alt="teamLogo">
        {% endif %}
        <h1>{{ team.name }}</h1>
        <div class="iconBtn-group">
            <a class="iconBtn icon-edit" href="t_edit.html"></a>
        </div>
        <div class="score">
            <ul>
                <li><span>勝</span>{{ stats.Win }}</li>
                <li><span>敗</span>{{ stats.Lose }}</li>
            </ul>
        </div>
    </div>

    <div class="col s12 m12 l6 main-analysis">
        <div id="chart1" class="donut"></div>
        <div id="chart2" class="donut"></div>
        <div id="chart3" class="donut"></div>
        <div id="chart4" class="donut"></div>
    </div>
</div>
<!--end of public version-->
