{% load i18n %}
{% load staticfiles %}
<!--public version-->
<div class="row main-Info team-mainInfo">
    <div class="col s12 m12 l6 main-title">
        {% if team.figure %}
        <img src="{{ team.figure.url }}" alt="teamLogo">
        {% else %}
        <img src="{% static 'images/pic_team.png' %}" alt="teamLogo">
        {% endif %}
        <h1>{{ team.name }}</h1>
        {% for admin in team.administrators.all %}
            {% if request.user == admin %}
            <div class="iconBtn-group">
                <a class="iconBtn icon-edit" href="{% url 'edit_team' team.id %}"></a>
            </div>
            {% endif %}
        {% endfor %}
        <div class="score">
            <ul>
                <li><span>{% if stats.Win < 2 %}{% trans 'WIN' %}{% else %}{% trans 'WINS' %}{% endif %}</span>{{ stats.Win }}</li>
                <li><span>{% if stats.Lose < 2 %}{% trans 'LOSE' %}{% else %}{% trans 'LOSES' %}{% endif %}</span>{{ stats.Lose }}</li>
            </ul>
        </div>
    </div>

    <div class="col s12 m12 l6 main-analysis">
        <div id="chart1" class="donut"></div>
        <div id="chart2" class="donut"></div>
        <div id="chart3" class="donut"></div>
        <div id="chart4" class="donut"></div>
    </div>
</div>
<!--end of public version-->
