@media screen and (max-width: 1080px){
	/* team pblic version */
	.donut { width: 22%; margin: 0 1%; }
	.main-title h1 { font-size: 340%;  margin-top: 50px; }
	.main-title h1:after { bottom: -10px; }

}

@media screen and (max-width: 992px){
	/* index.html */
	.three-items > div { padding: 0 20px; }
	.startNow { padding: 119px 0; background-position: 85% 3px; }

	/* team pblic version */
	.donut { width: 14%; margin: 0 2%; }
	.main-title h1 { font-size: 400%; }


}

/*special index*/
@media screen and (max-width: 700px){
	#logo{
		width: 58px;
		height: 38px;
		background: url('../images/logo_mobile.png') center center;
		background-size: 58px 38px;
		margin-left: 13px;
	}	
	.main-title h1 { font-size: 340%; }
	.score {
		transform: scale(0.7);
		-webkit-transform: scale(0.7);
		-moz-transform: scale(0.7);
		-o-transform: scale(0.7);
		right: 1%;
	}
	.iconBtn-group { bottom: -25px; }
	/* team pblic version */
	.main-title img { margin-left: -20px; }
	.sub-menu a { margin: 0; }

	.scroll-left {
	    display: block!important;
	    position: relative;
	    width: 100%;
	}
	.scroll-left thead {
	    display: block;
	    float: left;
	    border-right: 1px solid #ddd;
	}
	.scroll-left thead tr { display: block; }
	.scroll-left th { text-align: center; display: block; }
	.scroll-left thead:after {
	    visibility: hidden;
	    display: block;
	    font-size: 0;
	    content: " ";
	    clear: both;
	    height: 0;
	}
	.scroll-left tbody {
	    display: block;
	    width: auto;
	    position: relative;
	    overflow-x: auto;
	    white-space: nowrap;
	}
	.scroll-left tbody tr {
	    display: inline-block;
	    vertical-align: top;
	    margin: 0px -2px;
	}
	.scroll-left td {
	    display: block;
	    min-height: 1.25em;
	    text-align: left;
	}
	.scroll-left td, th { 
		padding-left: 5px;    
		margin: 0;
	    vertical-align: top; 
	}
	th , td { padding: 5px 12px; }
	tr { padding: 10px; }
}
/*special index*/

@media screen and (max-width: 526px){
	.navTop .index-right { float: none; margin-right: 0; }
	.index-nav { height: 98px; }
	.index-nav ul li { margin: 8px 15px 14px; }
	.index-nav #logo{
		width: 214px;
		height: 38px;
		background: url('../images/logo_web.png') center center;
		background-size: 214px 38px;
		margin-left: 30px;
		float: none;
		margin: 10px auto;
	}
	.content-nav > ul > li { margin: 18px 8px; }
	.mainPic-title { transform: scale(0.75); }
	.mainPic-left .mainPic-title { right: 7%; }
	.three-items > div { width: 90%; }
	footer {     
		height: 55px;
	    text-align: center;
	    padding: 14px;
	    line-height: 25px;
	}
	footer > div { display: block; margin: 0 auto; }
	footer .right { float: none; }

	/* team pblic version */
	.donut { width: 22%; margin: 0; }
	.main-title h1 { font-size: 230%; }


}

/*special index*/
@media screen and (max-width: 456px){
	.content-nav > ul > li { margin: 18px 6px; }
	.mainPic-title { transform: scale(0.6); }
	.mainPic-left .mainPic-title { right: 3%; }
	.startNow a { display: block; padding: 7px 32px; }
}
/*special index*/

@media screen and (max-width: 320px){
	
}
