{% extends 'base.html' %}

{% load i18n %}
{% load staticfiles %}

{% block javascript %}
    <!--*必填-->
    <script src="{% static 'js/jquery.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/jquery.validate.js' %}" type="text/javascript"></script>

    <!--*必填-->
    <script type="text/javascript">
        $(function(){
            $("#commentForm").validate();
        });
    </script>
{% endblock %}

{% block header %}
    {% include 'new_navigation.html' %}
{% endblock %}

{% block content %}
<div class="content">
    {% include 'teams/team_info.html' %}
    <div class="row page-content">
        <div class="col s12 m12 l1"></div>
        <div class="col s12 m12 l10 content-block">
            <h3 class="subinfo">{% trans 'ROSTER' %}<span>{% trans 'CREATE' %}</span></h3>
            <div class="form">
                <form id="commentForm" class="commentForm" name="create_player" action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="blockBg input-group" >
                        <div>
                            <label>{% trans 'NAME' %}<span class="redmark">*必填</span></label>
                            <input class="required" type="text" id="name" name="name">
                            <label>{% trans 'NUMBER' %}<span class="redmark">*必填</span></label>
                            <input class="required" type="number" id="number" name="number" min="0">
                            <label>{% trans 'POSITION' %}</label>
                            <select name="position">
                                <option value="1">{% trans 'GUARD' %}</option>
                                <option value="2">{% trans 'FORWARD' %}</option>
                                <option value="3">{% trans 'CENTER' %}</option>
                            </select>
                        </div>
                        <div>
                            <label>{% trans 'HEIGHT' %}</label>
                            <input type="number" name="height" min="0" value="0.0">
                            <label>{% trans 'WEIGHT' %}</label>
                            <input type="number" name="weight" min="0" value="0.0">
                            <label>{% trans 'BIRTHDAY' %}</label>
                            <input type="date" name="birthday" value="1900-01-01">
                        </div>
                        <div>
                            <label>{% trans 'EMAIL' %}</label>
                            <input type="email" name="email">
                            <label>{% trans 'IMAGE' %}</label>
                            <input id="uploadFile" placeholder="未選擇任何檔案" disabled="disabled" />
                            <div class="fileUpload btn-brown btn">
                                <span>選擇檔案</span>
                                <input name="image" id="uploadBtn" type="file" class="upload" />
                            </div>
                            <!-- isAdmin:
                            <input type="checkbox" name="isAdmin" value="true"><br> -->
                            <label></label>
                        </div>
                    </div><!--end of input-group -->

                    <div class="btn-group">
                        <button class="btn" type="button" onclick="location.href='{% url 'player_index' team_id %}'">{% trans 'CANCEL' %}</button>
                        <button class="btn" type="submit" onclick="form_check()">{% trans 'CREATE' %}</button>
                    </div>
                </form>
            </div><!-- end of form-->
        </div><!-- end of content-block-->
    </div><!--end of page-content-->
</div><!--end of content-->

    <script type="text/javascript">
        $(document).ready(function () {

            //input file
            document.getElementById("uploadBtn").onchange = function () {
                document.getElementById("uploadFile").value = this.value;
            };

        });
    </script> 
{% endblock %}

{% block donut %}
    {% include 'donut.html' %}
{% endblock %}
