{% extends 'base.html' %}

{% load i18n %}
{% load staticfiles %}

{% block javascript %}
<!--*必填-->
<script src="{% static 'js/jquery.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jquery.validate.js' %}" type="text/javascript"></script>

<!--*必填-->
<script type="text/javascript">
    $(function(){
        $("#commentForm").validate();
    });
</script>
{% endblock %}

{% block header %}
    {% include 'new_navigation.html' %}
{% endblock %}

{% block content %}
    <div class="content">
        {% include 'teams/team_info.html' %}
        <div class="row page-content">
            <div class="col s12 m12 l1"></div>
            <div class="col s12 m12 l10 content-block">
                <h3 class="subinfo">{% trans 'SCHEDULE' %}<span>{% trans 'CREATE' %}</span></h3>
                <div class="form">
                    <form id="commentForm" class="commentForm" name="create_player" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="blockBg input-group">
                            <div>
                                <label>{% trans 'OPPONENT' %}<span class="redmark">*{% trans 'REQUIRED' %}</span></label>
                                <input class="required" type="text" id="opponent" name="opponent">
                                <label>{% trans 'LOCATION' %}</label>
                                <input type="text" name="location">
                                <label>{% trans 'TIME' %}</label>
                                <input type="text" name="time" value="{{ game_time }}">
                            </div>
                            <div>
                                <label>{% trans 'TYPE' %}</label>
                                <select name="game_type">
                                    <option value="1">{% trans 'SEASON' %}</option>
                                    <option value="2">{% trans "PRACTICE" %}</option>
                                    <option value="3">{% trans "CASUAL" %}</option>
                                </select>
                                <label>{% trans "PERIODS" %}</label>
                                <select name="periods">
                                    <option value="1">{% trans "QUARTERS" %}</option>
                                    <option value="2">{% trans "HALVES" %}</option>
                                </select>
                                <label>{% trans "MINS_PER_PERIOD" %}</label>
                                <input type="number" name="mins_per_period" min="1" value="10">
                            </div>
                            <div>
                                <label>{% trans "FAULS_PER_PLAYER" %}</label>
                                <input type="number" name="fouls_per_player" min="1" value="5">
                                <label>{% trans "TIMEOUT_1ST_HALF" %}</label>
                                <input type="number" name="1st_half_timeouts" min="1" value="3">
                                <label>{% trans "TIMEOUT_2ND_HALF" %}</label>
                                <input type="number" name="2nd_half_timeouts" min="1" value="2">
                            </div>
                        </div><!--end of input-group -->
                        <div class="btn-group">
                            <button class="btn" type="button" onclick="window.location.href='{% url 'mygames' team.id %}'">{% trans 'CANCEL' %}</button>
                            <button class="btn" type="submit">{% trans 'CREATE' %}</button>
                        </div>
                    </form>
                </div><!-- end of form-->
            </div><!-- end of halfBlock-->
        </div><!--end of page-content-->
    </div><!--end of content-->
{% endblock %}

{% block donut %}
    {% include 'donut.html' %}
{% endblock %}
