{% extends 'base.html' %}

{% load i18n %}
{% load staticfiles %}

{% block header %}
    {% include 'new_navigation.html' %}
{% endblock %}

{% block javascript %}
<!--table sorter-->
<script type="text/javascript" src="{% static 'js/jquery.tablesorter.js' %}"></script>

<!--table sorter-->
<script type="text/javascript">
    $(function () {
        // table sorter
        $("#myTable").tablesorter({widgets: ['zebra']});

    });
</script>
{% endblock %}

{% block content %}
<div class="content">
    <!--public version-->
    <div class="main-Info schedule-mainInfo">
        <div class="schedule-time">
            <h3>
                <span>{% trans 'DATE' %}</span>
                {{ game.time | date:"Y/m/d" }}
            </h3>
            <h3>
                <span>{% trans 'TIME' %}</span>
                {{ game.time | time:"H:i" }}
            </h3>
        </div>
        <div class="main-title">
            <div class="teamName">
                <img src="{% static 'images/pic_team.png' %}" alt="teamLogo">
                <h1>{{ team.name }}</h1>
            </div>
            <div class="VSscore">
                <h2>0</h2>
                <p>VS.</p>
                <h2>0</h2>
            </div>
            <div class="teamName">
                <img src="{% static 'images/pic_team.png' %}" alt="teamLogo">
                <h1>{{ game.opponent.name }}</h1>
            </div>
        </div>
    </div>
    <!--end of public version-->

    <div class="row page-content">
        <div class="col s12 content-block">
        <form id="edit_stats" action="" method="post">
            {% csrf_token %}
            <h3>{% trans 'BOX_SCORE' %}<span>{% trans 'EDIT' %}</span></h3>
            <div class="blockBg table">
                <table class="scroll-left">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>{% trans 'Q1' %}</th>
                            <th>{% trans 'Q2' %}</th>
                            <th>{% trans 'Q3' %}</th>
                            <th>{% trans 'Q4' %}</th>
                            <th>{% trans 'OT' %}</th>
                        </tr>
                    </thead>
                    <tbody class="flexcroll-gray">
                        <tr>
                            <td>{{ team.name }}</td>
                            <td>
                                <input type="number" name="my_q1" min="0" value="0">
                            </td>
                            <td>
                                <input type="number" name="my_q2" min="0" value="0">
                            </td>
                            <td>
                                <input type="number" name="my_q3" min="0" value="0">
                            </td>
                            <td>
                                <input type="number" name="my_q4" min="0" value="0">
                            </td>
                            <td>
                                <input type="number" name="my_ot" min="0" value="0">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ game.opponent.name }}
                                <input type="hidden" name="oppo_id" value="{{ game.opponent.id }}">
                            </td>
                            <td>
                                <input type="number" name="oppo_q1" min="0" value="0">
                            </td>
                            <td>
                                <input type="number" name="oppo_q2" min="0" value="0">
                            </td>
                            <td>
                                <input type="number" name="oppo_q3" min="0" value="0">
                            </td>
                            <td>
                                <input type="number" name="oppo_q4" min="0" value="0">
                            </td>
                            <td>
                                <input type="number" name="oppo_ot" min="0" value="0">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <h3>{% trans 'PLAYER_STATS' %}<span>{% trans 'EDIT' %}</span></h3>
            <div class="blockBg scroll-left-horizontal flexcroll-gray">
                <table>
                    <thead>
                        <tr>
                            <th>{% trans "NAME" %}</th>
                            <th>{% trans "GS" %}</th>
                            <th>{% trans "MINS" %}</th>
                            <th>{% trans "2PTA" %}</th>
                            <th>{% trans "2PTM" %}</th>
                            <th>{% trans "3PTA" %}</th>
                            <th>{% trans "3PTM" %}</th>
                            <th>{% trans "FTA" %}</th>
                            <th>{% trans "FTM" %}</th>
                            <th>{% trans "OREB" %}</th>
                            <th>{% trans "DREB" %}</th>
                            <th>{% trans "AST" %}</th>
                            <th>{% trans "STL" %}</th>
                            <th>{% trans "BLK" %}</th>
                            <th>{% trans "TO" %}</th>
                            <th>{% trans "PF" %}</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% if players %}
                            {% for player in players%}
                            <tr>
                                <td>{{ player.name }}</td>
                                <td>
                                    <input type="checkbox" id="check{{ player.id }}" name="{{ player.id }}_started" value="1" checked="" />
                                    <label for="check{{ player.id }}"></label>
                                </td>
                                <!-- 2016.06.04 Revise as tpye="text" because of Chrome. -->
                                <td><input type="text" name="{{ player.id }}_time" value="00:00"></td>
                                <td><input type="number" name="{{ player.id }}_attempt_2pt" min="0" value="0"></td>
                                <td><input type="number" name="{{ player.id }}_made_2pt" min="0" value="0"></td>
                                <td><input type="number" name="{{ player.id }}_attempt_3pt" min="0" value="0"></td>
                                <td><input type="number" name="{{ player.id }}_made_3pt" min="0" value="0"></td>
                                <td><input type="number" name="{{ player.id }}_attempt_ft" min="0" value="0"></td>
                                <td><input type="number" name="{{ player.id }}_made_ft" min="0" value="0"></td>
                                <td><input type="number" name="{{ player.id }}_oreb" min="0" value="0"></td>
                                <td><input type="number" name="{{ player.id }}_dreb" min="0" value="0"></td>
                                <td><input type="number" name="{{ player.id }}_ast" min="0" value="0"></td>
                                <td><input type="number" name="{{ player.id }}_stl" min="0" value="0"></td>
                                <td><input type="number" name="{{ player.id }}_blk" min="0" value="0"></td>
                                <td><input type="number" name="{{ player.id }}_to" min="0" value="0"></td>
                                <td><input type="number" name="{{ player.id }}_pf" min="0" value="0"></td>
                            </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div><!--end of table-->
        </form>
        </div><!-- end of halfBlock-->

        <div class="col s12 btn-group">
            <button class="btn" type="button" onclick="location.href='{% url 'mygames' game.team.id %}'">{% trans 'CANCEL' %}</button>
            <button class="btn" type="submit" form="edit_stats">{% trans 'SAVE' %}</button>
        </div>
    </div><!--end of page-content-->
</div><!--end of content-->
{% endblock %}
