<!DOCTYPE html>
{% load i18n %}
{% load staticfiles %}
<html>
    <head>
        <meta charset='UTF-8'>
        <title>Improvement Goes With Data - DataHoops</title>

        <!-- 2016.05.30 Share to FB -->
        {% block share_to_fb %}{% endblock %}
        <meta property="og:type" content="website" />
        <meta property="og:title" content="DataHoops" />
        <meta property="og:description" content="Improvement goes with data." />

        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway">
        <link href='https://fonts.googleapis.com/css?family=Orbitron:900' rel='stylesheet' type='text/css'>

    <!-- JavaScript -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        {% block javascript %}{% endblock %}
    </script>
    <!-- Google Analytics -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-79536402-1', 'auto');
        ga('send', 'pageview');

    </script>
    </head>

    <body>
        <div id="Header">
            <div id="HeaderLeft">DataHoops</div>
            {% if user.is_authenticated %}
            <div id="HeaderRight">
                <a href="{% url 'myteams' %}" style="text-decoration: underline">{% trans "MY_TEAM" %}</a> | 
                <a href="/accounts/my/" style="text-decoration: underline">{% trans "MY_ACCOUNT" %}</a> |
                <a href="/accounts/logout/" style="text-decoration: underline">{% trans "SIGN_OUT" %}</a>
            </div>
            {% endif %}
        </div>
        <div id="Sidebar">
            {% block navigation %}{% endblock %}
        </div>
        <div id="Body">
            {% block content %}{% endblock %}
        </div>
        <div style='clear:both;'></div>
    </body>
</html>
