<!DOCTYPE html>
{% load i18n %}
{% load staticfiles %}
<html>
    <head>
        <meta charset='UTF-8'>
        <title>Improvement Goes With Data - DataHoops</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway">
        <link href='https://fonts.googleapis.com/css?family=Orbitron:900' rel='stylesheet' type='text/css'>

        <!-- JavaScript -->
        <script type="text/javascript">
            function check_password()
            {
                if (change_password.password.value == "")
                {
                    document.getElementById("password").focus();
                    document.getElementById("empty_password").style.display = "block";
                }
                else if (change_password.password.value != change_password.confirm_password.value)
                {
                    document.getElementById("confirm_password").focus();
                    document.getElementById("empty_password").style.display = "none";
                    document.getElementById("wrong_password").style.display = "block";
                }
                else change_password.submit();
            }
        </script>
    </head>
    <body>
        <div id="Header">
            <div id="HeaderLeft">DataHoops</div>
            <div id="HeaderRight">
                <a href="{% url 'myteams' %}" style="text-decoration: underline">{% trans "MY_TEAM" %}</a> |
                <a href="/accounts/my/" style="text-decoration: underline">{% trans "MY_ACCOUNT" %}</a> |
                <a href="/accounts/logout/" style="text-decoration: underline">{% trans "SIGN_OUT" %}</a>
            </div>
        </div>
        <div style="height: auto; min-height: 90vh; font-family: 'Raleway', sans-serif">
            <div style="height: 15vh; line-height: 15vh; text-align: center; font-size: 1.5rem">{% trans "MY_ACCOUNT" %} > {% trans "CHANGE_PASSWORD" %}</div>
            <div style="width: 100vw; height: 75vh; text-align: center">
                <!-- 2016.05.25 Message framework. -->
                {% if messages %}
                    {% for message in messages %}
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                        <p style="color: green">{{ message }}</p>
                        {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                        <p style="color: red">{{ message }}</p>
                        {% endif %}
                    {% endfor %}
                {% endif %}

                <form id="change_password" name="change_password" action="" method="post" style="width: 30vw; margin: auto">
                    {% csrf_token %}
                    <p style="float: left">{% trans "NEW_PASSWORD" %}</p>
                    <input type="password" id="password" name="password" style="width: 100%; height: 25px; font-size: 1rem"><br>
                    <div id="empty_password" style="color: red; display: none; text-align: left">{% trans "PLEASE_INSERT_PASSWORD" %}</div>
                    <p style="float: left">{% trans "CONFIRM_PASSWORD" %}</p>
                    <input type="password" id="confirm_password" name="confirm_password" style="width: 100%; height: 25px; font-size: 1rem"><br>
                    <div id="wrong_password" style="color: red; display: none; text-align: left">{% trans "PLEASE_CONFIRM_YOUR_PASSWORD_AGAIN" %}</div>
                </form>
                <div style="width: 30vw; margin: auto">
                <button type="button" style="float: left; width: 14.75vw; margin-top: 10px" onclick="location.href='{% url 'my_account' %}'">{% trans "CANCEL" %}</button>
                    <button type="submit" style="float: left; width: 14.75vw; margin-top: 10px; margin-left: 0.5vw" onclick="check_password()">{% trans "SAVE" %}</button>
                </div>
            </div>
        </div>
    </body>
</html>
