{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block javascript %}
<script type="text/javascript">
    function form_check()
    {
        var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        if (sign_in.email.value == "")
        {
            document.getElementById("email").focus();
            document.getElementById("empty_email").style.display = "block";
            document.getElementById("invalid_email").style.display = "none";
        }
        else if (!re.test(sign_in.email.value))
        {
            document.getElementById("email").focus();
            document.getElementById("empty_email").style.display = "none";
            document.getElementById("invalid_email").style.display = "block";
        }
        else if (sign_in.password.value == "")
        {
            document.getElementById("password").focus();
            document.getElementById("empty_email").style.display = "none";
            document.getElementById("invalid_email").style.display = "none";
            document.getElementById("empty_password").style.display = "block";
        }
        else sign_in.submit();
    }
</script>
{% endblock %}

{% block header %}
    <nav>
        <div class="navTop index-nav">
            <a href="/"><div id="logo"></div></a>
            <div class="right index-right scroll flexcroll">
                <ul>
                    <li><a id="bt01" href="#">{% trans 'WHY_DATAHOOPS' %}</a></li>
                    <li><a id="bt02" href="#">{% trans 'ABOUT_US' %}</a></li>
                    <li><a href="#">{% trans 'HOW_IT_WORKS' %}</a></li>
                    <li><a href="#">{% trans 'SIGN_IN' %}</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="row content">
        <!-- 2016.05.24 Message framework. -->
        {% if messages %}
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <p style="color: green">{{ message }}</p>
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <p style="color: red">{{ message }}</p>
                {% endif %}
            {% endfor %}
        {% endif %}
        <div class="col s12 m3 l4"></div>
        <div class="col s12 m6 l4 logIn">
            <h4>{% trans 'SIGN_IN' %}</h4>
            <div class="blockBg input-group-block" >
                <form id="sign_in" name="sign_in" action="" method="post">
                    {% csrf_token %}
                    <label>{% trans 'EMAIL' %}</label>
                    <input type="text" id="email" name="email">
                    <div class="MSG-Info" id="empty_email">{% trans "PLEASE_INSERT_EMAIL" %}</div>
                    <div class="MSG-Info" id="invalid_email">{% trans "INVALID_EMAIL" %}</div>
                    <label>{% trans 'PASSWORD' %}</label>
                    <input type="password" id="password" name="password">
                    <div class="MSG-Info" id="empty_password">{% trans "PLEASE_INSERT_PASSWORD" %}</div>
                </form>
                <button class="btn btn-block" type="submit" onclick="form_check()">登入</button>
                <span class="redmark">{% trans 'FORGOT_PASSWORD' %}</span>
            </div>
            <p>{% trans 'NOT_A_MEMBER' %}</p>
            {% if isInvited %}
            <a href="/accounts/register/?Invitation={{ isInvited }}&Team={{ team_id }}&Player={{ player_id }}">{% trans 'SIGN_UP' %}</a>
            {% elif isSeasonRegistration %}
            <a href="/accounts/register/?SeasonRegistration={{ isSeasonRegistration }}&League={{ league_id }}&Season={{ season_id }}"> {% trans "SIGN_UP" %}</a>
            {% else %}
            <a href="/accounts/register/"> {% trans "SIGN_UP" %}</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
