{% extends 'base.html' %}

{% load i18n %}
{% load staticfiles %}

{% block header %}
<nav class="nav-bottom">
    <div class="navTop">
        <a href="/"><div id="logo"></div></a>
        <div class="right content-nav">
            <ul>
                <li><a class="iconLeague navBtn" href="#">{% trans 'LEAGUES' %}</a>
                    <ul style="display:none;" class="sub-menu scroll flexcroll-gray">
                        <li><a href="#">名人榜</a></li>
                        <li><a href="#">最新消息</a></li>
                        <li><a href="#">盃賽資訊</a></li>
                        <li><a href="#">賽程一覽</a></li>
                        <li><a href="#">戰績排行</a></li>
                    </ul>
                </li>
                <li><a class="iconTeam navBtn" href="{% url 'myteams' %}">{% trans 'TEAMS' %}</a>
                    <ul style="display:none;" class="sub-menu scroll flexcroll-gray">
                        <li><a class="selected" href="#">Summary</a></li>
                        <li><a href="#">{% trans 'NAV_SCHEDULE' %}</a></li>
                        <li><a href="#">{% trans 'NAV_ROSTER' %}</a></li>
                        <li><a href="#">{% trans 'NAV_STATS' %}</a></li>
                        <li><a href="#">{% trans 'NAV_ANALYSIS' %}</a></li>
                    </ul>
                </li>
                <li class="hover-btn"><a id="account_btn" class="iconAccount navBtn" href="#">{% trans 'MY_ACCOUNT' %}</a>
                    <ul id="account_menu" class="hover-menu">
                        <li><a href="/accounts/my/">{% trans 'SETTINGS' %}</a></li>
                        <li><a href="/accounts/logout/">{% trans 'SIGN_OUT' %}</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
    <div class="row content">
        <div class="col s12 m3 l4"></div>
        <div class="col s12 m6 l4 logIn">
            <h4>{% trans 'MY_ACCOUNT' %}</h4>
            <div class="blockBg input-group-block" >

                <!-- 2016.05.24 Message framework. -->
                {% if messages %}
                    {% for message in messages %}
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                        <p style="color: green">{{ message }}</p>
                        {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                        <p style="color: red">{{ message }}</p>
                        {% endif %}
                    {% endfor %}
                {% endif %}

                <form id="my_account" action="" method="post">
                    {% csrf_token %}
                    <label>{% trans 'EMAIL' %}</label>
                    <input type="text" name="email" value="{{ user.email }}" disabled>
                    <label>{% trans 'FIRST_NAME' %}</label>
                    <input type="text" name="firstname" value="{{ user.first_name }}">
                    <label>{% trans 'LAST_NAME' %}</label>
                    <input type="text" name="lastname" value="{{ user.last_name }}">
                </form>
            </div>
            <div class="btn-group">
                <button class="btn" type="button" onclick="location.href='{% url 'change_password' %}'">{% trans "CHANGE_PASSWORD" %}</button>
                <button class="btn" type="submit" form="my_account">&nbsp;&nbsp;&nbsp;{% trans 'SAVE' %}&nbsp;&nbsp;&nbsp;</button>
            </div>
        </div>
    </div>
{% endblock %}
