{% extends 'base.html' %}

{% load i18n %}
{% load staticfiles %}

{% block javascript %}
    <script type="text/javascript">
        function form_check()
        {
            var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            if (sign_up.email.value == "")
            {
                document.getElementById("email").focus();
                document.getElementById("empty_email").style.display = "block";
                document.getElementById("invalid_email").style.display = "none";
            }
            else if (!re.test(sign_up.email.value))
            {
                document.getElementById("email").focus();
                document.getElementById("empty_email").style.display = "none";
                document.getElementById("invalid_email").style.display = "block";
            }
            else if (sign_up.password.value == "")
            {
                document.getElementById("password").focus();
                document.getElementById("empty_password").style.display = "block";
                document.getElementById("empty_email").style.display = "none";
                document.getElementById("invalid_email").style.display = "none";

            }
            else sign_up.submit();
        }
    </script>
{% endblock %}

{% block header %}
    <nav>
        <div class="navTop index-nav">
            <a href="/"><div id="logo"></div></a>
            <div class="right index-right scroll flexcroll">
                <ul>
                    <li><a id="bt01" href="#">為什麼使用 DataHoops</a></li>
                    <li><a id="bt02" href="#">關於我們</a></li>
                    <li><a href="#">如何使用</a></li>
                    <li><a href="/accounts/login/">{% trans 'SIGN_IN' %}</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="row content">
        <div class="col s12 m3 l4"></div>
        <div class="col s12 m6 l4 logIn">
            <h4>建立帳號</h4>
            <div class="blockBg input-group-block">
                <form id="sign_up" name="sign_up" action="" method="post">
                    {% csrf_token %}
                    <label>{% trans "FIRST_NAME" %}</label>
                    <input type="text" name="firstname">
                    <label>姓{% trans "LAST_NAME" %}</label>
                    <input type="text" name="lastname">
                    <label>{% trans 'EMAIL' %}</label>
                    <input type="text" id="email" name="email">
                    <div class="MSG-Info" id="empty_email">{% trans "PLEASE_INSERT_EMAIL" %}</div>
                    <div class="MSG-Info" id="invalid_email">{% trans "INVALID_EMAIL" %}</div>
                    <label>{% trans 'PASSWORD' %}</label>
                    <input type="password" id="password" name="password">
                    <div class="MSG-Info" id="empty_password">{% trans "PLEASE_INSERT_PASSWORD" %}</div>
                </form>
                <button class="btn btn-block" type="submit" onclick="form_check()">{% trans "SIGN_UP" %}</button>
            </div>
            <p>{% trans 'ALREADY_ON' %}</p>
            {% if isInvited %}
            <a href="/accounts/login/?Invitation={{ isInvited }}&Team={{ team_id }}&Player={{ player_id }}">{% trans 'SIGN_IN' %}</a>
            {% elif isSeasonRegistration %}
            <a href="/accounts/login/?SeasonRegistration={{ isSeasonRegistration }}&League={{ league_id }}&Season={{ season_id }}">{% trans "SIGN_IN" %}</a>
            {% else %}
            <a href="/accounts/login/">{% trans "SIGN_IN" %}</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
